.ArticleDisplay {
  position: fixed;
  background-color: #292525c4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;  
  overflow: hidden; 
}

.ArticleDisplay .ArticleContainer {
  width: 60rem;
  margin: 2rem;
  background-color: white;
  border-radius: 2rem;
  padding: 2rem 3rem;
  z-index: 1;
}

.ArticleDisplay .ArticleContainer h2 {
  color: gray;
  font-family: Inter;
}

.ArticleDisplay .ArticleContent {
  max-height: 60vh;
  overflow-y: scroll;
}

@media only screen and (max-width: 393px ) {
  .ArticleDisplay .ArticleContent {
    max-height: 30vh;
  }
  .ArticleDisplay .ArticleContainer {
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.ArticleDisplay .ArticleContentParagraph {
  margin-bottom: 1rem;
}


.ArticleDisplay button {
  background: #e68e86;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 1rem;
  font: inherit;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}
